
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

section nav {
    width: 83%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px #089da1;
    background-color: #fff; 
}

.storeName h1 {
    font-size: 25px;
    color: #089da1;
}

.logo img {
    width: 100px;
    cursor: pointer;
    margin: 8px;
}

.container {
    max-width: 80%;
    margin: auto;
    background: white;
    margin-top:20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

input, textarea {
    width: 95%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.container button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background-color: #218838;
}
